name: Check
'on': push

jobs:
  build:
    name: covr
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Install Package Dependencies
        run: |-
          Rscript setup.R
          Rscript -e "install.packages(c('rcmdcheck', 'covr'), repos = 'https://cloud.r-project.org')"
          Rscript -e "remotes::install_deps(dependencies = TRUE, repos = 'https://cloud.r-project.org')"
      - name: codecov
        run: Rscript -e "covr::codecov(quiet = FALSE)"
    container: rocker/verse:latest
  rcmdchecker:
    name: Rcmdcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Install Package Dependencies
        run: |-
            Rscript setup.R
            Rscript -e "install.packages(c('rcmdcheck', 'remotes'), repos = 'https://cloud.r-project.org')"
            Rscript -e "remotes::install_deps(dependencies = TRUE, repos = 'https://cloud.r-project.org')"
      - name: Run Check
        run: Rscript -e "rcmdcheck::rcmdcheck(build_args = '--no-manual', error_on = 'note')"
    container: rocker/verse:latest
  test-r-sanitizers:
    name: ASAN-UBSAN
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: rhub/rocker-gcc-san
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
        with:
          fetch-depth: 5
          submodules: true
      - name: Install packages
        shell: bash
        run: |
          Rdevel -q -f setup.R
          Rdevel CMD build .
          Rdevel CMD INSTALL --install-tests *.tar.gz
          Rdevel -d "valgrind --tool=memcheck --leak-check=full --errors-for-leak-kinds=definite --error-exitcode=1" --vanilla -f do_test.R
          Rdevel -q -f do_test.R
